<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.k3s2_psk1lab.mybatis.model.Competition" alias="Competition"/>
        <typeAlias type="com.example.k3s2_psk1lab.mybatis.model.Team" alias="Team"/>
        <typeAlias type="com.example.k3s2_psk1lab.mybatis.model.Athlete" alias="Athlete"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="k3s2_psk1labDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/CompetitionMapper.xml"/>
        <mapper resource="mybatis/xml/TeamMapper.xml"/>
        <mapper resource="mybatis/xml/AthleteMapper.xml"/>
    </mappers>
</configuration>
